*{margin: 0px; padding: 0px;font-family: ProductSans}


@font-face{font-family: "ProductSans";src: url("fonts/ProductSans-Regular.ttf") format("truetype"); }

@keyframes drop{
	0%{height: 30px; width: 30px;}
	30%{height: 30px; width: 30px;top:50%;}
}

@keyframes show{
	0%{opacity: 0;}
	75%{opacity: 0;}
	100%{opacity: 1;}
}

@keyframes loader-loop{
	0%{height: 30px; width: 30px;top:20%;}
	50%{height: 30px; width: 30px;top:60%;} /* 20% earlier*/
	100%{height: 30px; width: 30px;top:20%;}
}

a,a:visited,a:hover{
	color: #ffffffee;
	text-decoration: none;
}

#container{
/*	background: #ffffff18;*/
	height: 600px;
	width: 400px;
	border-radius: 7px;
 	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	position: absolute;
	overflow: hidden;
}


.fill{
	background: #ffffff18;
	height: 200%;
	width: 300%;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	/*animation: drop 1s ease-in-out;*/
	position: absolute;
	border-radius: 100000000000000px;
	border-bottom: 10px #ffffff18;
}

.textbox{
	height: 600px;
	width: 2000px;
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffffee;
	/*animation: show 1s ease;*/
}

.text{
	color: #ffffffee;
	/*animation: show 1s ease;*/
}

.page{
	width: 400px;
	display: table-cell;
	height: 600px;
	/*animation: show 1s ease;*/
	margin: 0px;padding: 20px;
}


#button-bar{
	position: absolute;
	bottom: 0px;
	animation: show 1s ease;
	border-top: 1.5px solid #ffffff18;
	width: 100%;
}

.button-icon{
	height: 30px;
}

.button{
	height: 40px;
    width: 80px;
    padding: 10px 0 0 0;
    text-align: center;
    border-right: 1.5px solid #ffffff18;
    border-left: 1.5px solid #ffffff18;
    border-top: 1.5px solid #ffffff18;
    color: #fff;
    font-size: 13px;
    text-overflow: clip;
    cursor: pointer;
    transition: background 0.3s;
}

.button:hover{
  background: #ffffff40 radial-gradient(circle, transparent 1%, #ffffff18 1%) center/15000%;
}

div.button:last-child{
	border-right: 0px solid #ffffff18;
}

div#button-bar > div.button{
	display: table-cell;
}

.active{
	background: #ffffff40 radial-gradient(circle, transparent 1%, #ffffff18 1%) center/15000%;
}

.content-box{
	position: absolute;
}
