*{margin: 0px;padding: 0px;}

@font-face{font-family: "ProductSans";src: url("ProductSans-Regular.ttf") format("truetype"); }
@font-face{font-family: "ProductSansBold";src: url("ProductSans-Bold.ttf") format("truetype"); }


@media screen and (max-width: 800px){
#nav-top{display: none;}
div.nav-bottom{display: block;}
#card{max-height: 130px;margin: 10px 20px 10px 20px;}
div#card:last-child{margin: 10px 20px 80px 20px;}
#sidemenu{display: none;}
}

@media screen and (min-width: 801px){
div#card:first-child{margin:80px 10px 10px 10px;}
#card{margin: 10px 10px 10px 10px;}
}

a:link, a:visited {
  color: rgba(255, 255, 255, 0.87);
  text-decoration:none;
  cursor: hand;
}

a:link:active, a:visited:active {
  color:rgba(255, 255, 255, 0.87);
}

#nav-top,#nav-bottom{
	background: #2d2d2d;
	width: 100%;
	position: fixed;
	z-index: 10;
	box-shadow: 0 0px 7px 0px #000;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

#nav-top{height: 60px;}

.nav-bottom{
	display: none;
	bottom: 0;
}

#sidemenu{
	height: 100%;
    background: #2c2c2c;
    position: fixed;
    z-index: 9;
    box-shadow: 0px 0px 7px 2px;}

.sidemenu-reveal{width: 370px;}

#hamburger1,#hamburger2{
    color: rgba(255, 255, 255, 0.87);
    font-size: 2.56em;
    margin: 0 0 0 10px;
    cursor: pointer;
    height: min-content;
    width: min-content;
    transition: 200ms ease;
}

#expandup{
	margin: 8px 0 0 0;
	height: 42px;
	transition: 200ms ease;
}

.expanded-nav-bottom{
	height: 85%;
}

.expand-rotate{transform: rotate(180deg)}

#card{
	background: rgba(255, 255, 255, 0.05);
	max-height: fit-content;
	max-width: 600px;
	border-radius: 10px;
	position: relative;
	display: inline-flex;
	padding: 8px 10px 13px 10px;
	overflow: hidden;
	word-break: break-word;
	color: rgba(255, 255, 255, 0.87);
	font-size: 1.5em;
	font-family: ProductSans;
}

#head-text{
	font-family: ProductSans;
    width: 100%;
    text-align: left;
    font-size: 40px;
}

#body-text{
	font-family: ProductSans;
    width: 100%;
    font-size: 24px;
}
