*{margin: 0px;padding: 0px;}

@font-face{font-family: "ProductSans";src: url("ProductSans-Regular.ttf") format("truetype"); }
@font-face{font-family: "ProductSansBold";src: url("ProductSans-Bold.ttf") format("truetype"); }


@media screen and (max-width: 800px){
#nav-top{display: none;}
#nav-bottom{display: block;height: 60px;}
#card{max-height: 130px;margin: 10px 20px 10px 20px;}
div#card:last-child{margin: 10px 20px 80px 20px;}
}

@media screen and (min-width: 800px){
div#card:first-child{margin:80px 10px 10px 10px;}
#card{margin: 10px 10px 10px 10px;}
}

#nav-top,#nav-bottom{
	height: 60px;
	background: #2d2d2d;
	width: 100%;
	position: fixed;
	z-index: 10;
	box-shadow: 0 0px 8px 5px #000;
}

.nav-bottom{
	display: none;
	bottom: 0;
}

#hamburger{
    color: rgba(255, 255, 255, 0.87);
    font-size: 2.56em;
    margin: 0 0 0 10px;
    cursor: pointer;
    height: min-content;
    width: min-content;
}

#expandup{
	margin: 8px 0 0 0;
	height: 44px;
}

#card{
	background: rgba(255, 255, 255, 0.05);
	max-height: 340px;
	max-width: 600px;
	border-radius: 10px;
	position: relative;
	display: inline-flex;
	padding: 8px 10px 13px 10px;
	overflow: hidden;
	word-break: break-word;
	color: rgba(255, 255, 255, 0.87);
	font-size: 1.5em;
	font-family: ProductSans;
}
